@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

.spot {
  font-family: "Montserrat", sans-serif;
  width: 100px;
  height: 100px;
  box-shadow: 0 0 0 1px #333333;
  border: 1px solid #333333;
  cursor: pointer;
  line-height: 100px;
  font-size: 60px;
  text-align: center;
  box-sizing: initial;
}
