body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#board {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 306px;
  margin: 50px auto;
}

#settings-gui {
  width: 800px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.option {
  width: inherit;
  height: auto;
  padding: 5px;
  background-color: burlywood;
  font-size: large;
  margin-bottom: 5px;
  cursor: pointer;
}

.option:hover {
  opacity: 0.9;
}

.theme-switcher {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
